[package]
name = "carapax"
description = "A Telegram Bot Framework"
version = "0.11.0"
authors = ["Ross Nomann <rossnomann@protonmail.com>"]
edition = "2021"
readme = "./README.md"
license = "MIT"
documentation = "https://docs.rs/carapax"
repository = "https://github.com/tg-rs/carapax"

[features]
# include nothing by default
default = []

# enable everything
full = ["access", "dialogue", "ratelimit", "session-redis", "session-fs"]

access = []
dialogue = ["session", "serde"]
ratelimit = ["governor", "nonzero_ext"]
session = ["seance"]
session-fs = ["session", "seance/fs-backend"]
session-redis = ["session", "seance/redis-backend"]

[dependencies]
futures-util = "0.3"
governor = { version = "0.4", optional = true }
log = "0.4"
nonzero_ext = { version = "0.3", optional = true }
seance = { version = "0.6", optional = true }
serde = { version = "1.0", optional = true }
tgbot = "0.16"
tokio = "1.16"

[dev-dependencies]
dotenv = "0.15"
env_logger = "0.9"
regex = "1.5"
serde_json = "1.0"
tempfile = "3.2"
tokio = { version = "1.16", features = ["macros", "rt-multi-thread"] }
toml = "0.5"

[[example]]
name = "app"
required-features = ["full"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "nightly"]
