# Logging settings
# See https://docs.rs/env_logger/ for more information
RUST_LOG=info

# A telegram bot token
CARAPAX_TOKEN=YOUR-BOT-TOKEN-HERE

# Updates will be denied for all except given username
# Specify a username without @
#CARAPAX_ACCESS_USERNAME=username

# A rate-limit strategy:
#
# * direct_discard - Discard all updates when ratelimit is reached
# * direct_wait - Wait for next available cell when ratelimit is reached
# * direct_wait_with_jitter - Wait for next available cell when ratelimit is reached (with jitter)
# * keyed_discard - Discard update for a specific key when ratelimit is reached
# * keyed_wait - Wait for next available cell for a specific key when ratelimit is reached
# * keyed_wait_with_jitter - Wait for next available cell for a specific key when ratelimit is reached (with jitter)
#CARAPAX_RATE_LIMIT_STRATEGY=list

# Period between session GC calls (seconds)
CARAPAX_SESSION_GC_PERIOD=60

# How long session lives (seconds)
CARAPAX_SESSION_LIFETIME=86400
