name: GitHub Pages
on:
  push:
    branches:
      - master

jobs:
  docs:
    name: Generate master API documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Generate
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all --all-features
      - name: Publish
        uses: peaceiris/actions-gh-pages@v2
        with:
          emptyCommits: false
          forceOrphan: true
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./target/doc
